* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Montserrat-Bold;
  src: url(./fonts/Montserrat-Bold.otf);
}

@font-face {
  font-family: ThePUNCHER;
  src: url(./fonts/ThePUNCHER\ Regular.otf);
}

* {
  font-family: "Montserrat-Bold";
}

body {
  color: #fffae7;
  background-color: #090909;
}

.type-write-container {
  min-height: 100vh;
  padding: 0rem 8rem 0px 8rem;
}

.typewrite-upper-text {
  text-align: left;
  word-wrap: break-word;
  font-feature-settings: "liga";
  text-rendering: auto;
  visibility: visible;
  color: #fffae7;
  line-height: 24px;
  font-size: 20px;
  font-family: "__Trash_5";
  font-weight: 300;
  margin: 0px;
  padding-top: 5rem;
  padding-bottom: 5px;
  border-bottom: 1px solid #fffae7;
  transform-origin: left top;
  background-repeat: no-repeat;
  max-height: 1000000px;
}

.typewrite-input {
  background: transparent;
  border: none;
  -webkit-appearance: none;
  outline: none;
  letter-spacing: -7px;
  font-family: ThePUNCHER;
  font-size: 160px;
  font-weight: 300;
  width: 100%;
  color: #fffae7;
  margin-top: 2.4rem;
  letter-spacing: 2px;
  overflow: hidden;
}

.typewrite-input::placeholder {
  color: #fffae7;
  opacity: 1;
  font-family: "Montserrat-Bold";
}

@media screen and (max-width: 1000px) {
  .type-write-container {
    padding: 5rem 2rem 0px 2rem;
  }
  .typewrite-upper-text p {
    font-size: 1rem;
  }

  .typewrite-input {
    font-size: 5rem;
  }
}

@media screen and (max-width: 600px) {
  .typewrite-upper-text p {
    font-size: 0.9rem;
  }

  .typewrite-input {
    font-size: 3rem;
  }
}
